<header>
  <!-- Home Link -->
  <a href="{{ site.baseurl }}/" rel="home" class="home-link">{{ site.title }}</a>

  <!-- Main Navigation -->
  <nav class="main-nav offset-right">
    {% for link in site.nav_links %}
      <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
    {% endfor %}
  </nav>

  <!-- Exploding Navigation -->
  <div class="exploding-nav first-run" style="--navCount: 3">
    <button class="exploding-nav-button">
      <img class="face" src="{{ site.baseurl }}/images/jason-brains.png" alt="Jack's face">
      <span class="sr-only">Show Navigation</span>
    </button>
    <nav class="home-page-nav">
      <a class="home-item" href="{{ site.baseurl }}/#bio" style="--offset: 1">
        About Jack
        <img src="{{ site.baseurl }}/images/camera.png" alt="Camera Icon">
      </a>
      <a class="home-item" href="{{ site.baseurl }}/#teaching" style="--offset: 2">
        Teaching
        <img src="{{ site.baseurl }}/images/terminal.png" alt="Terminal Icon">
      </a>
      <a class="home-item" href="{{ site.baseurl }}/#newsletter" style="--offset: 3">
        Newsletter
        <img src="{{ site.baseurl }}/images/newsletter.png" alt="Newsletter Icon">
      </a>
    </nav>
  </div>

  <!-- Site Settings -->
  <div class="site-settings">
    <button class="site-settings-button site-settings-toggle" data-sound-hover="pop" data-sound-click="click">
      <img class="site-settings-gear" src="{{ site.baseurl }}/images/gear.png" alt="Settings Gear">
      <span class="sr-only">Show Settings</span>
    </button>
    <div class="site-settings-panel">
      <button class="site-settings-button" data-sound-hover="pop" data-sound-click="click" data-setting="sound">
        <img class="site-settings-sound" src="{{ site.baseurl }}/images/sound-on.png" alt="Sound On" 
          data-image-on="{{ site.baseurl }}/images/sound-on.png" 
          data-image-off="{{ site.baseurl }}/images/sound-off.png">
        <span class="sr-only">Turn Sound Off</span>
      </button>
    </div>
  </div>
</header>
