<header>
  <!-- Exploding Navigation -->
  <div class="exploding-nav first-run" style="--navCount: 3">
    <button class="exploding-nav-button">
      <img class="face" src="{{ site.baseurl }}/assets/images/jason-brains.png" alt="">
      <span class="sr-only">Show Navigation</span>
    </button>
    <nav class="home-page-nav">
      <a class="home-item" href="/#bio" style="--offset: 1">
        About Jack
        <img src="{{ site.baseurl }}/assets/images/camera.png" alt="">
      </a>
      <a class="home-item" href="/#teaching" style="--offset: 2">
        Teaching
        <img src="{{ site.baseurl }}/assets/images/terminal.png" alt="">
      </a>
      <a class="home-item" href="/#newsletter" style="--offset: 3">
        Newsletter
        <img src="{{ site.baseurl }}/assets/images/newsletter.png" alt="">
      </a>
    </nav>
  </div>

  <!-- Site Settings -->
  <div class="site-settings">
    <button class="site-settings-button site-settings-toggle" data-sound-hover="pop" data-sound-click="click">
      <img class="site-settings-gear" src="{{ site.baseurl }}/assets/images/gear.png" alt="">
      <span class="sr-only">Show Settings</span>
    </button>
    <div class="site-settings-panel">
      <button class="site-settings-button" data-sound-hover="pop" data-sound-click="click" data-setting="sound">
        <img class="site-settings-sound" 
          src="{{ site.baseurl }}/assets/images/sound-on.png" 
          alt="" 
          data-image-on="https://res.cloudinary.com/jlengstorf/image/upload/f_auto,q_auto,w_70/v1593533573/jason.energy/sound-on.png" 
          data-image-off="https://res.cloudinary.com/jlengstorf/image/upload/f_auto,q_auto,w_70/v1593533573/jason.energy/sound-off.png">
        <span class="sr-only">Turn Sound Off</span>
      </button>
    </div>
  </div>
</header>
